// color
$primary: #FFD366;
$secondary: #4A4A4A;
$tertiary: #ffffff;
$quaternary: rgba(255,255,255,0.18);
$quinary: #424242;
$senary: rgba(255,196,50,0.64);
$septenary: #DEA821;
$octonary: rgba(255,255,255,0.18);
$nonary: rgba(255,255,255,0.50);
$denary: #ededed;
$undenary: #CF000F;


// font
$fontNomal: 24px;
$fontLarge: 32px;
$fontBig: 20px;
$fontSmall: 18px;
$fontMini: 14px; 
$fontTiny: 12px;
