// text color
.text-low{
    color:#31BAF9;
}
.text-normal{
    color: #86D73F;
}
.text-obeseI{
    color: #FF982D;
}
.text-obeseII{
    color: #FF6C03;
}
.text-obeseIIII{
    color: #FF1200;
}

// border style
.border-low{
    border: 6px solid #31BAF9;
}
.border-normal{
    border: 6px solid #86D73F;
}
.border-obeseI{
    border: 6px solid #FF982D;
}
.border-obeseII{
    border: 6px solid #FF6C03;
}
.border-obeseIIII{
    border: 6px solid #FF1200;
}

.borderLeft-low{
    border-left: 7px solid #31BAF9;
}
.borderLeft-normal{
    border-left: 7px solid #86D73F;
}
.borderLeft-obeseI{
    border-left: 7px solid #FF982D;
}
.borderLeft-obeseII{
    border-left: 7px solid #FF6C03;
}
.borderLeft-obeseIIII{
    border-left: 7px solid #FF1200;
}


// background
.bg-low{
    background:#31BAF9;
}
.bg-normal{
    background: #86D73F;
}
.bg-obeseI{
    background: #FF982D;
}
.bg-obeseII{
    background: #FF6C03;
}
.bg-obeseIIII{
    background: #FF1200;
}